@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Dhurjati&family=Lacquer&display=swap');

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

/*font-family: 'Delicious Handrawn', cursive;*/
/*font-family: 'Dhurjati', sans-serif;*/
/*font-family: 'Lacquer', cursive;*/

/*
font-family: define el nombre de la fuente.
src: define la ruta del archivo y el formato de la fuente.
font-style: define el estilo de la fuente (normal, italic, oblique).
font-weight: define el grosor de la fuente (normal, bold, bolder, lighter).
*/

/* Estilo del encabezado */
header {
    background-color: #000000;
    color: #FFF;
    height: 9%; /*Agrego height*/
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-image: url(../media/background_img/jump-1822412.jpg);
}

/*Muestro los links del header de forma horizontal.*/
#header_links ul {
    list-style: none;
    text-align: center;
}
#header_links ul li{
    display: inline;
    margin-right:10px;
}

#header_links a{
    color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    /*text-shadow: 3px 3px 3px #000000;*/
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
    text-decoration: none;
}

#header_links a:hover {
    color: #146C94; /* Al pasar el ratón por encima */
}

#header_links li.separator {
    border-right: 1px solid #000000;
}

/*Creo clase para que agregue borde a las img*/
.imagen_con_borde {
    border: 1px solid black;
}

/*Imagen redondeada*/
.imagen_redondada {
    border-radius: 10px;
    width: 100%;
}

body {
    /*font-family: Calibri, sans-serif;*/
    background-image: url(../media/background_img/jump-1822412.jpg);
}

/* Estilos para el footer */
footer {
    justify-content: center; /* centra horizontalmente */
    background-color: #000000;
    color: #F6F1F1;
    padding: 20px;         /*El padding de un elemento es la cantidad de espacio entre el borde y el contenido del elemento*/
    text-align: center;

    /*Pongo el footer fijo y abajo.*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding-top: 15px;
    background-image: url(../media/background_img/jump-1822412.jpg);
    font-weight: bold;
}

.whatsapp{
    height: 40px;
    width: 40px;
    background-color: #000;
    color: springgreen;
    position: fixed;
    right: .8%;
    bottom: 6%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: .5px 1px 15px 5px #000000;
}

.whatsapp:hover{
    background-color: springgreen;
    color: #000;
    box-shadow: none;
}

.titulo {
    padding-left: 1%;
    /*font-family: Arial, Italic, Calibri, sans-serif;*/
    font-family: 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    color: #19A7CE;
    /*text-shadow: 5px 5px 5px #146C94;*/
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
    letter-spacing: .5rem;
    text-decoration: none;
    display: inline-block;
}

.titulo:hover{
    color: #146C94; /* Al pasar el ratón por encima */
}

/*SlideShow*/
* {box-sizing:border-box}

/* contenedor*/
.slideshow-container {
    max-width: 61%;
    position: relative;
    margin: 6%;
    margin-left: 19%; /*Ver como centrar de otra manera*/
    z-index: 5;
    box-shadow: 1px 1px 15px 5px #000000; /*ANCHO,ALTO, RADIO DE SOMBRA, RADIO DE PROPAGACIÓN*/
    cursor: pointer;
}

/* Escondo imagenes por def*/
.mySlides {
    display: none;
}

/* Caption text */
.text {
    color: #19A7CE;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-weight: bold;        

    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; 
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow: 5px 5px 5px #000000;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 6.0s;
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}
/*Fin-SlideShow*/

/*Grid noticias*/
.grid-container {
    position: absolute; 
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 12px;
    font-weight: bold;
    width: 46%;
    height: 45%;
    left: 365px;
    top: 83%; 
    text-align: center;
    padding-bottom: 100px; /* Agrega un padding de 100px al final del contenido. Esto para que el footer no tape el contenido del grid. */

    box-shadow: 1px 1px 15px 5px #000000;
    background-color: #146C94;
    background-image: url(../media/background_img/children-1822688.jpg);
}

.grid-container div {
    /*background-color: #8cb6c7;*/
    border: 1% solid black;
    border-radius: 1%;
    color: rgb(0, 0, 0);
    /*padding: 1rem;*/
    width: 100%;
    text-align: left;
}

.grid_text_abajo{
    font-size: 14px;
    grid-area: 2/1/3/4; /* Definimos la posición del texto */
    text-align: center;
}


/*En este ejemplo, cada imagen y su respectivo texto están envueltos dentro de un div con la clase .grid-item. 
Luego, se define un grid dentro de cada div utilizando la propiedad display: grid, donde la primera fila es para la imagen 
y la segunda para el texto. Para posicionar cada div, se utiliza la pseudo-clase nth-child, donde se especifica el índice de cada div
dentro del grid y se definen las filas y columnas que debe ocupar utilizando las propiedades grid-row y grid-column.*/

.grid-item {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 22px; 
    margin-bottom: 25px;
}

.grid-item:hover{
    cursor: pointer;
}

  /* Definimos la posición de cada div dentro del grid */
.grid-item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
} 

.grid-item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}

  /* Agrega un elemento div con la clase "text-left" en cada celda de la primera columna */
.grid-container div:nth-child(3n-2) {
    position: relative;
}

.grid-container div:nth-child(3n-2) .text_left {
    position: absolute;
    top: 50%;
    left: -90px; /*Acomodo posición de la primer columna.*/
    transform: translateY(-50%);
}

.grid-container div:nth-child(3n-2) .text_left_two {
    position: absolute;
    top: 60%;
    left: -90px; /*Acomodo posición de la primer columna.*/
    transform: translateY(-50%);
}

/* Estilo para la clase "text-left" */
.text_left {
    font-size: 16px;
}

.text_left_two {
    font-size: 16px;
}
/*Fin Grid noticias*/

/*Grid Leagues*/
/*Utilizo este grid para mostrar noticias de distintas ligas en pantalla principal, y también para mostrar
noticias específicas de cada liga en particular. Las propiedades son las mismas.*/

/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;*/
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;/* /**Por defecto*/
    /*font-family: Georgia, 'Times New Roman', Times, serif;
}*/

.grid_league-container {
    position: absolute; 
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 12px;
    font-weight: bold;
    /*width: 48%;*/
    width: 61%;
    height: 108%;
    left: 365px;
    top: 130%; 
    text-align: center;
    padding-bottom: 100px; /* Agrega un padding de 100px al final del contenido. Esto para que el footer no tape el contenido del grid. */

    box-shadow: 1px 1px 15px 5px #000000;
    /* background-color: #146C94; */
    background-image: url(../media/background_img/children-1822688.jpg);
}

.grid_league-container div {
    /*border: 1% solid black;*/
    border-radius: 1%;
    width: 100%;
    text-align: left;
}

.grid_text_abajo{
    font-size: 14px;
    /*grid-area: 2/1/3/4;*/ /* Definimos la posición del texto */ /*start on row 2 column 1, and span 3 rows and 4 columns:*/
    /*text-align: center;*/
    color: #000;
    margin: 7px;
}


/*En este ejemplo, cada imagen y su respectivo texto están envueltos dentro de un div con la clase .grid-item. 
Luego, se define un grid dentro de cada div utilizando la propiedad display: grid, donde la primera fila es para la imagen 
y la segunda para el texto. Para posicionar cada div, se utiliza la pseudo-clase nth-child, donde se especifica el índice de cada div
dentro del grid y se definen las filas y columnas que debe ocupar utilizando las propiedades grid-row y grid-column.*/

.grid_league-item {
    display: grid;
    grid-template-rows: auto 1fr;
    margin-left: 22px; /*Le doy margen para centrar los elementos dentro del grid.*/
    margin-bottom: 20px;
}

.grid_league-item:hover{
    cursor: pointer;
}

  /* Definimos la posición de cada div dentro del grid */
.grid_league-item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
} 

.grid_league-item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid_league-item:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}

  /* Agrega un elemento div con la clase "text-left" en cada celda de la primera columna */
.grid_league-container div:nth-child(3n-2) {
    position: relative;
}

.grid_league-container div:nth-child(3n-2) .text_left {
    position: absolute;
    top: 50%;
    left: -150px; /*Acomodo posición de la primer columna.*/
    /*transform: translateY(-50%);*/
}

.grid_league-container div:nth-child(3n-2) .text_left_two {
    position: absolute;
    top: 60%;
    left: -150px; /*Acomodo posición de la primer columna.*/
    /*transform: translateY(-50%);*/
}

/* Estilo para la clase "text-left" */
.text_left, .text_left_two {
    /* color: #19A7CE; */
    color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-size: 16px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
    font-weight: bold;
}

/* .text_left_two {
    color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-size: 16px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; 
    font-weight: bold;
} */
/*Fin Grid Leagues*/

/*PL Posiciones*/
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
    color: #19A7CE;
	margin: auto;
	margin-top: 20px;
	margin-bottom: -1400px;
}

body table thead tr th {
	background-color: #F6F1F1;
    text-align: center;
}

body h3 {
	margin-top: 100px;
	color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    /*text-shadow: 3px 3px 3px #000000;*/
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
}
/*Fin PL Posiciones*/

/*PL Jornadas*/
.jornadas{
    display: inline-table;
    margin-bottom: -20%;
    /* margin-bottom: -1400px; */
}
/*Fin PL Jonrnadas*/

/*Img Zoom*/
/*Realizo transición suave de la imagen*/
.zoom :not(.text_left):not(.text_left_two) {
    transition: transform .5s;
}

/*Doy zoom a las imagenes*/
.zoom:hover :not(.text_left):not(.text_left_two) {
    transform: scale(1.08);
}
/*Fin Img Zoom*/

/*Jugadores destacados*/
#jugadores_destacados{
    display: flex;
    /*flex-direction: row;*/ /*Por default*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /*border: 20px solid;*/
    margin-top: 210px;
    width:100%;
    text-align: center;
    margin-bottom: -1400px;
    row-gap: 125px;
}

.jugador{
    display: flex;
    color: black;
    width: 200px;
    height: 200px;
    flex-direction: column;
    margin: 1px; /*Me sirvió para achicar el espacio entre items*/
    margin-top: -75px;
}

.jugador_text{
    text-align: center;
    font-weight: bold;
    color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
}

.jugador:hover, .jugador_text:hover{
    cursor: pointer;
}

/*Se comenta la descripcoón del jugador porque no lo puedo hacer funcionar bien*/
/* .jugador_text_desc{
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    border: 10px solid;
    background-color: #19A7CE;
    font-weight: bold;
} */

/* .jugador:hover .jugador_text_desc,
.jugador_text:hover .jugador_text_desc{
    opacity: 1; */
    /*
    .jugador:hover .jugador_text_desc: Esta regla aplica un estilo al elemento con la clase .jugador_text_desc cuando se pasa el mouse por 
    encima del elemento con la clase .jugador. Esto significa que cuando el mouse está sobre
    el contenedor con la clase .jugador, se cambia la opacidad del elemento con la clase .jugador_text_desc a 1, lo que lo hace visible.
    */
/* }  
/*Fin - Se comenta la descripcoón del jugador porque no lo puedo hacer funcionar bien*/
/*Fin - Jugadores destacados*/

/*Resultados y partidos*/
/*Clase con últimos resultados y próximos partidos.*/
.resultados_y_partidos {
    position: absolute;
    top: 80%; 
    right: 20%; 
    height: 44.6%;
    width: 13%;
    /*background-color: #8cb6c7;*/ 
    /*background-color: #146C94; */
    padding: 0.5px;
    /*border: 1px solid black;
    border-radius: 10px;*/
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);*/ 
    /*box-shadow: 5px 5px 5px 35px #146C94;*/  /*SINTAXIS: box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/ /*ANCHO,ALTO, RADIO DE SOMBRA, RADIO DE PROPAGACIÓN*/
    margin-top: 33px; /*Bajo el rectángulo*/
    background-image: url(../media/background_img/children-1822688.jpg);
    box-shadow: 1px 1px 15px 5px #000000;
    
    /*border: solid;*/
}

.ryp_titulo{
    color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    /*text-shadow: 3px 3px 3px #000000;*/
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
}

body div ul{
    color: #000000;
    font-weight: bold;
    text-align: left;
    list-style-type: none;
}
/*Fin - resultados y partidos*/

/*Contacto*/
#form{
    color: #19A7CE;
    background-color: #F6F1F1;
    font-size: 16px;
    padding: 5px;         /*El padding de un elemento es la cantidad de espacio entre el borde y el contenido del elemento*/
    text-align: center;
    width: 40%;
    height: 505px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
    margin:auto;
    margin-top:  1450px;
    margin-bottom:  60px;
    background-image: url(../media/background_img/jump-1822412.jpg);
}

#form h1{
    color: #19A7CE;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 0 0 #030303, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
}

#contacto{
    /* background-color: #146C94; */
    height: 555px;
    box-shadow: 1px 1px 15px 5px #000000; /*ANCHO,ALTO, RADIO DE SOMBRA, RADIO DE PROPAGACIÓN*/
    background-image: url(../media/background_img/jump-1822412.jpg);
}

label{
    display: block; 
    float: center;  
    font-weight: bold;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
}

div form textarea{
    margin-left: 50px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #19A7CE; 
    width: 80%; 
    height: 150px; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    margin-left: auto; /*Centrado*/
    font-weight: bold;
    font-size: 16px;
}

div form input{
    border-radius: 5px;  
    border-style: solid; 
    margin-left: 50px;
    font-size: 16px;
    width: 80%;
    margin-left: auto; /*Centrado*/
    font-weight: bold;
}

.submit_button{
    color: #19A7CE;
    padding: 1%;
    width: 20%;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Lacquer', cursive, 'Delicious Handrawn', cursive, Arial, Italic, Calibri, sans-serif ;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /*Doy borde al texto*/
    margin-left: auto; /*Centrado*/
}

.submit_button:hover{
    color: #19A7CE;
    background-color: black;
}

div form h1{
    color: black;
    text-shadow: 3px 3px 3px #F6F1F1;
}
/*Fin Contacto*/

/*Desarrollador*/
.des_grid{
    display: grid;
    /*grid-template-columns: 2fr, 2fr;*/ /*ancho de las columnas*/
    /*grid-template-rows: 2fr, 2fr;*/    /*altura de las columnas*/
    grid-template-columns: 200px; /*ancho de las columnas*/
    grid-template-rows: 200px;    /*altura de las columnas*/
    justify-content: center;
    /*align-content: center;*/
    /*grid-gap:1rem;*/
    box-shadow: 1px 1px 1000px 100px #000000;
    border-radius: 1%;
    width: 100%;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    margin-top: 120px;
    margin-bottom: -1400px; /*Quito espacio del grid para que "Contacto" se suba. Aplico esto en todas los html.*/
}

.des_grid_item{
    justify-self: center; /*horizontal*/
    align-self: center;   /*vertical*/
    background-color: #19A7CE;
    background-image: url(../media/desarrollador/img/marcos.jpg);
    width: 100%; /* La imagen ocupa el ancho completo del contenedor */
    height: 100%; /* La altura ocupa el alto completo del contenedor */
    /* object-fit: cover;*/
    cursor: pointer;
    box-shadow: 1px 1px 1000px 30px #19A7CE; 
    border-radius: 50%;
    border: solid;
    border-color: #000000;
}

.des_grid_text{
    text-align: center;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

/*Media querys*/
@media screen and (max-width: 368px) { /*Mobile*/
    header{
        height: 21%; /*Agrego height*/
    }
    body header a h1, body header a h2{ /*Para el título*/
        font-size: 13px;
    }
    #header_links a{
        font-size: 7px;
    }
    .des_grid{
        margin-top: 150px;
    }
    #form{
        width: 100%;
    }
}
@media screen and (min-width: 369px) and (max-width: 576px) { /*Mobile*/
    header{
        height: 20%; /*Agrego height*/
    }
    body header a h1, body header a h2{ /*Para el título*/
        font-size: 16px;
    }
    #header_links a{
        font-size: 10px;
    }
    .des_grid{
        margin-top: 150px;
    }
    #form{
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px){ /*Tablets en vertical*/
    header{
        height: 15%; /*Agrego height*/
    }
    body header a h1, body header a h2{ /*Para el título*/
        font-size: 20px;
    }
    #header_links a{
        font-size: 12px;
    }
    .des_grid{
        margin-top: 180px;
    }
    #form{
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){ /*Tablets en horizontal*/
    header{
        height: 15%; /*Agrego height*/
    }
    .des_grid{
        margin-top: 180px;
    }
}

/*Tablet*/
/* @media only screen and (min-width: 768px) {
    .des_grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .des_grid_item1{
        grid-row: 1/2;
        grid-column: 3/5;
    }
} */

/*Desktop*/
/* @media only screen and (min-width: 1024px){
    .des_grid{
        grid-template-columns: (3, 1fr);
    }
    .des_grid_item1{
        grid-row: 1/ span 3;
        grid-column: 1/2;
    }
} */

/*Mobile Styles*/
/* @media only screen and (max-width: 400px){
    body{
        background-color: #ff0000
    }
} */


/*Tablet Styles*/
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; 
    }
} */

/* @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; 
    }
}  */
/*Fin Desarrollador*/


