.des_grid{
    display: grid;
    /*grid-template-columns: 2fr, 2fr;*/ /*ancho de las columnas*/
    /*grid-template-rows: 2fr, 2fr;*/    /*altura de las columnas*/
    grid-template-columns: 200px; /*ancho de las columnas*/
    grid-template-rows: 200px;    /*altura de las columnas*/
    justify-content: center;
    /*align-content: center;*/
    /*grid-gap:1rem;*/
    box-shadow: 1px 1px 1000px 100px #000000;
    border-radius: 1%;
    width: 100%;
    color: rgb(0, 0, 0);
    /*padding: 1rem;*/
    padding-top: 120px;
}

.des_grid_item{
    justify-self: center; /*horizontal*/
    align-self: center;   /*vertical*/
    background-color: #19A7CE;
    background-image: url(/media/desarrollador/img/marcos.jpg);
    width: 100%; /* La imagen ocupa el ancho completo del contenedor */
    height: 100%; /* La altura ocupa el alto completo del contenedor */
    /* object-fit: cover;*/
    cursor: pointer;
    box-shadow: 1px 1px 1000px 100px #19A7CE;
    border-radius: 50%;
    border: solid;
    border-color: #000000;
}

.des_grid_text{
    text-align: center;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

/*Tablet*/
/* @media only screen and (min-width: 768px) {
    .des_grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .des_grid_item1{
        grid-row: 1/2;
        grid-column: 3/5;
    }
} */

/*Desktop*/
/* @media only screen and (min-width: 1024px){
    .des_grid{
        grid-template-columns: (3, 1fr);
    }
    .des_grid_item1{
        grid-row: 1/ span 3;
        grid-column: 1/2;
    }
} */

/*Mobile Styles*/
/* @media only screen and (max-width: 400px){
    body{
        background-color: #ff0000
    }
} */


/*Tablet Styles*/
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; 
    }
} */

/* @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; 
    }
}  */